//-----------------------------TEXT-----------------------------
.text {
    &-center {
        text-align: center;
    }
    &-uppercase {
        text-transform: uppercase;
    }
}
//-----------------------------BUTTON-----------------------------
.btn {
    &-block {
        display: block;
        width: 100%;
    }
}
