.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  &__content {
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background-color: #ffffff;
  }
  &__close {
    position: absolute;
    top: -2.2rem;
    right: -5rem;
    font-size: 4rem;
    color: #ffffff;
    border: none;
    background: transparent;
  }
  &__form {
    padding: 2rem 5rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
  }
}
.popup-form {
  &__title {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    line-height: 1.5;
  }
  &__input {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 5.8rem;
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  &__btn {
    padding: 2.5rem 0rem;
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid #ffc600;
    border-radius: 1rem;
    background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
    box-shadow: 1px 2px 20px 0px rgba(255, 153, 0, 0.4);
  }
  &__notice {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #666;
  }
}
